In [3]:
import pandas as pd
!python -m wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
df = pd.read_csv('car_fuel_efficiency.csv')

Saved under car_fuel_efficiency (2).csv

In [21]:
import numpy as np

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [6]:
df.shape

(9704, 11)

In [12]:
pd.__version__

'2.2.3'

In [7]:
num_types = df['fuel_type'].nunique()
print(f'Total number of fuel types: {num_types}')

Total number of fuel types: 2

In [8]:
unique_types = df['fuel_type'].unique()
print(f'The unique fuel types are: {unique_types}')

The unique fuel types are: ['Gasoline' 'Diesel']

In [9]:
missing_values = df.isnull().sum()
print(missing_values)

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [13]:
asia_cars = df[df['origin'] == 'Asia']
max_fuel_efficiency = asia_cars['fuel_efficiency_mpg'].max()
print(f'The maximum fuel efficiency for cars from Asia is: {max_fuel_efficiency} MPG')

The maximum fuel efficiency for cars from Asia is: 23.759122836520497 MPG

In [16]:
median_hp = df['horsepower'].median()
mode_hp = df['horsepower'].mode()[0]

print(f"Initial median horsepower: {median_hp}")
print(f"Most frequent horsepower: {mode_hp}")

Initial median horsepower: 149.0
Most frequent horsepower: 152.0

In [17]:
# Fill missing values with the mode
df['horsepower'].fillna(mode_hp, inplace=True)

C:\Users\KGOMOTSO MONGALE\AppData\Local\Temp\ipykernel_15456\258028525.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(mode_hp, inplace=True)

In [18]:
#New median after filling missing values
new_median_hp = df['horsepower'].median()

print(f"New median horsepower after filling missing values: {new_median_hp}")

New median horsepower after filling missing values: 152.0

In [19]:
#Cars where the 'origin' is 'Asia'
asia_cars = df[df['origin'] == 'Asia']
#Specified columns and the first 7 rows
asia_subset = asia_cars[['vehicle_weight', 'model_year']].head(7)

In [22]:
X = asia_subset.to_numpy()
#array y with the given values
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [24]:
# Compute matrix-matrix multiplication for XTX
XTX = X.T @ X

# Invert the XTX matrix
inv_XTX = np.linalg.inv(XTX)

# Multiply the matrices to find the weights, w
w = inv_XTX @ X.T @ y

In [25]:
# Calculate the sum of all elements in the result
sum_of_weights = w.sum()

print(f"The sum of the weights is: {sum_of_weights}")

The sum of the weights is: 0.5187709081074007